<%=render 'partials/navbar' %>
<h1>UserBios</h1>
<%= link_to "Create New Bio", new_user_bio_path %>
    <ul>
        <% @user_bios.each do |userbio| %>
        <li><%= link_to user_bio.first_name, user_bio %></li>
        <%end%>        
        </ul>
