@import 'semantic-ui';

body {
  background-image: image-url("blueHoneycomb.jpg");
}

#linform {
  background: white;
  font-size: 18px;
  width: 500px;
  padding-left: 30px;
  padding-right: 70px;
  padding-bottom: 30px;
  padding-top: 30px;
}

// #signupbutton {
//   font-size: 30px;
//   color: #32EAE2;
// }

// #loginbutton {
//   font-size: 100px;
//   color: #32EAE2;
// }

#form_name {
  color: white;
}

.univ_links {
  color: white !important ;
  font-size: 18px !important ;
}